<div id="container-content">
    <h1>{{content.title}}</h1>
       <div id="small-header">
           <p id="author-content">Author: {{content.fname}}</p>
           <p id="time-content">Time: {{content.timestamp}}</p>

       </div>
    <h3>{{content.title}}</h3>
    <img id="img-inside" src="images/{{content.image}}" width="320px" height="auto">
    {{{content.method}}}
</div>

<div id="comment-button">
    <h3>Comments</h3>
    <button id="toggle">Show/Hide Comments</button>
    <hr>
</div>

<div id="comment-display">

    {{#each comments}}
    <div class="comment-card">
        <div class="comment-avater"><img class="comment-image" src="./images/avatars/{{avatar}}.png"></div>
        <div class="comment-contents">
            <div class="comment-title">
                <p class="comment-username">{{username}}</p>
                <p class="comment-time">{{timestamp}}</p>
                <a href="./voteComment?id={{id}}&type=Like">Like +{{this.like}}</a>
                <a href="./voteComment?id={{id}}&type=Dislike">Dislike +{{this.dislike}}</a>
                {{#if authToken}}
                <a href="./deleteComment?id={{id}}">Delete</a>
                {{/if}}
            </div>
            <p class="comment-text">{{content}}</p>
        </div>
    </div>
    {{/each}}
</div>


<div id="comment-submit">

    {{#if user}}
{{!-- This is the add comment section --}}
<h3>Add Comment</h3>
<div>Hello {{user.username}}, welcome to leave comments here.</div>
<form action="./commentUpload" method="GET">
    <textarea name="content" id="txtContent" rows="10" placeholder="Type your comment here..." required></textarea>
    <br><input type="submit">
</form>
<br>
{{else}}
<div>
    <div>You don't have authority to leave comments!</div>
    <p>Please <a href="./login">Log in</a></p>
</div>
<br>
{{/if}}
</div>
