<div id="container-content">
    <h1>{{content.title}}</h1>
       <div id="small-header">
           <p id="author-content">Author: {{content.fname}}</p>
           <p id="time-content">Time: {{content.timestamp}}</p>

       </div>
    <h3>{{content.title}}</h3>
    <img id="img-inside" src="images/{{content.image}}" width="320px" height="auto">
    {{{content.method}}}
</div>

<div id="comment-display">
    <h3>Comments</h3><hr>

    {{#each comments}}
    <div class="comment-card">
        <div class="comment-avater"><img class="comment-image" src="./images/avatars/{{avatar}}.png"></div>
        <div class="comment-contents">
            <div class="comment-title">
                <p class="comment-username">{{username}}</p>
                <p class="comment-time">{{timestamp}}</p>
            </div>
            <p class="comment-text">{{content}}</p>
        </div>
    </div>
    {{/each}}

</div>

<div id="comment-submit">


    <form action="./commentUpload" method="POST">
        <div class="">
            <p>Put your comment here:</p>
            <label for="txtContent"></label>
            <textarea name="content" id="txtContent" required rows="10" placeholder="Put your comment here......."></textarea>
        </div>

        <div class="">
            <button type="submit">Comment!</button>
        </div>
    </form>
</div>
